services:
    -
        class: \Tools\PHPStan\RegistryPropertyReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
parameters:
    level: 6
    paths:
        - ../upload/
    excludePaths:
        - ./phpstan/
        - ../upload/system/storage/vendor/
        - ../upload/system/storage/cache/
        - ../upload/install/
    tmpDir: ../.cache/phpstan/
