services:
    -
        class: \Tools\PHPStan\RegistryPropertyReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
parameters:
    level: 6
    paths:
        - ../upload/
    excludePaths:
        - ./phpstan/
        - ../upload/system/storage/vendor/
        - ../upload/system/storage/cache/
    tmpDir: ../.cache/phpstan/
    ignoreErrors:
        - '#^Access to an undefined property Opencart\\System\\Engine\\Proxy<Opencart\\Catalog\\Model\\Checkout\\Cart>::\$getTotals\.$#'
